@using bugtracker.Models
@using bugtracker.Helpers

@model Ticket





@{
    ViewBag.Title = "Details";
   
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/custom Css/tickdet.css" rel="stylesheet" />


    <link href="~/Content/bootstrap-fileupload.css" rel="stylesheet" />
    <link href="~/Content/datepicker.css" rel="stylesheet" />
    <link href="~/Content/daterangepicker.css" rel="stylesheet" />
    <link href="~/Content/timepicker.css" rel="stylesheet" />

</head>
<body>
    <section id="main-content">
        <section class="wrapper site-min-height">
            <h3><i class="fa fa-angle-right"></i> Details</h3>
            <div class="row mt">
                <div class="col-lg-12">

                    <div>
                        <h4>Ticket</h4>
                        <hr />

                        <div class="col-md-8">
                            <div class="row">
                                <dl class="dl-horizontal">
                                    @*need to figure out what i want my users to see in the details section.*@
                                    @using (Html.BeginForm())
                                    {
                                        <div class="form-horizontal">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            @Html.HiddenFor(m => m.Id)
                                            <button class="bounce">
                                                @Html.Label("Ticket Priority:")
                                                @Html.DisplayTextFor(m => m.TicketPriority.Name)
                                            </button>

                                            <button class="bounce">
                                                @Html.Label("Assigned To:")
                                                @Html.DisplayTextFor(m => m.AssignedToUser.FirstName)
                                            </button>

                                            <button class="bounce">
                                                @Html.Label("Ticket Status:")

                                                @Html.DisplayTextFor(m => m.TicketStatus.Name)
                                            </button>

                                            <button class="bounce">
                                                @Html.Label("Ticket Type:")
                                                @Html.DisplayTextFor(m => m.TicketType.Name)
                                            </button>

                                        </div>


                                    }
                                </dl>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <!--main content start-->
                                    <section>
                                        <section class="wrapper site-min-height">
                                            <!-- page start-->
                                            <div class="chat-room mt">
                                                <aside class="mid-side">
                                                    <div class="chat-room-head">
                                                        <h3>Comments</h3>

                                                    </div>
                                                    @foreach (var comment in Model.TicketComments.OrderByDescending(c => c.Created))
                                                    {
                                                        <div class="group-rom">
                                                            <div class="first-part odd">@comment.User.FirstName</div>
                                                            <div class="second-part">
                                                                @Html.Raw(comment.CommentBody)
                                                            </div>
                                                            <div class="third-part">@comment.Created.ToString("hh:mm")</div>
                                                        </div>
                                                    }


                                                    <footer>
                                                        @using (Html.BeginForm("Create", "TicketComments", FormMethod.Post))
                                                        {
                                                            @Html.AntiForgeryToken()

                                                            @Html.Hidden("TicketId", Model.Id)
                                                            @Html.Editor("CommentBody", new { @class = "form-control" })
                                                            <button type="submit" class="btn btn-theme">Send</button>
                                                            <div class="btn-group hidden-sm hidden-xs">
                                                                <button type="button" class="btn btn-white"><i class="fa fa-meh-o"></i></button>
                                                                <button type="button" class="btn btn-white"><i class=" fa fa-paperclip"></i></button>
                                                            </div>

                                                        }
                                                        @*<div class="chat-txt">
                                                                <input type="text" class="form-control">
                                                            </div>*@

                                                    </footer>
                                                </aside>
                                                <aside class="right-side">
                                                    <div class="user-head">
                                                        <a href="#" class="chat-tools btn-theme"><i class="fa fa-cog"></i> </a>
                                                        <a href="#" class="chat-tools btn-theme03"><i class="fa fa-key"></i> </a>
                                                    </div>
                                                    <div class="invite-row">
                                                        <h4 class="pull-left">Team Members</h4>
                                                        <a href="#" class="btn btn-theme04 pull-right">+ Invite</a>
                                                    </div>
                                                    <ul class="chat-available-user">
                                                        <li>
                                                            <a href="chat_room.html">
                                                                <img class="img-circle" src="img/friends/fr-02.jpg" width="32">
                                                                Paul Brown
                                                                <span class="text-muted">1h:02m</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="chat_room.html">
                                                                <img class="img-circle" src="img/friends/fr-05.jpg" width="32">
                                                                David Duncan
                                                                <span class="text-muted">1h:08m</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="chat_room.html">
                                                                <img class="img-circle" src="img/friends/fr-07.jpg" width="32">
                                                                Laura Smith
                                                                <span class="text-muted">1h:10m</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="chat_room.html">
                                                                <img class="img-circle" src="img/friends/fr-08.jpg" width="32">
                                                                Julia Schultz
                                                                <span class="text-muted">3h:00m</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="chat_room.html">
                                                                <img class="img-circle" src="img/friends/fr-01.jpg" width="32">
                                                                Frank Arias
                                                                <span class="text-muted">4h:22m</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </aside>
                                            </div>
                                            <!-- page end-->
                                        </section>
                                        <!-- /wrapper -->
                                    </section>
                                    <!-- /MAIN CONTENT -->
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row">
                                @foreach (var tickethistory in Model.TicketHistories.OrderByDescending(m => m.Changed))
                                {
                                    <!-- First Activity -->
                                    <div class="desc">
                                        <div class="thumb">
                                            <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                                        </div>
                                        <div class="details">
                                            @if (tickethistory.PropertyName == "TicketStatusId" || tickethistory.PropertyName == "TicketTypeId" || tickethistory.PropertyName == "TicketPriorityId" || tickethistory.PropertyName == "AssignedToUserId")
                                            {
                                                var oldvalue = HistoryHelper.ConvertToName(tickethistory.PropertyName, tickethistory.OldValue);
                                                var newvalue = HistoryHelper.ConvertToName(tickethistory.PropertyName, tickethistory.NewValue);

                                                <p>
                                                    <muted>@tickethistory.Changed</muted>
                                                    <br />
                                                    @*<a href="#">Paul Rudd</a> purchased an item.<br />*@


                                                    @tickethistory.PropertyName changed from @oldvalue to @newvalue


                                                </p>
                                            }
                                            else
                                            {
                                                <p>
                                                    <muted>@tickethistory.Changed</muted>
                                                    <br />
                                                    @*<a href="#">Paul Rudd</a> purchased an item.<br />*@


                                                    @tickethistory.PropertyName changed from @tickethistory.OldValue to @tickethistory.NewValue


                                                </p>
                                            }
                                        </div>
                                    </div>
                                }

                            </div>
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-8">
                                        <!-- row -->
                                        <!--ADVANCED FILE INPUT-->
                                        <div class="row mt">
                                            <div class="col-lg-12">
                                                @using (Html.BeginForm("Create", "TicketAttachments", FormMethod.Post, new { enctype = "Multipart/form-data" }))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    @Html.Hidden("TicketId", Model.Id)
                                                    <div class="form-panel">
                                                        @*<form action="#" class="form-horizontal style-form">*@

                                                        <div class="form-group">

                                                            <div class="controls col-md-9">
                                                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                                                    <span class="btn btn-theme02 btn-file">
                                                                        <span class="fileupload-new"><i class="fa fa-paperclip"></i> select file</span>
                                                                        <span class="fileupload-exists"><i class="fa fa-undo"></i> change</span>
                                                                        <input type="file" name="file" class="default" />
                                                                    </span>
                                                                    <span class="fileupload-preview" style="margin-left:5px;"></span>
                                                                    <a href="advanced_form_components.html#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none; margin-left:5px;"></a>
                                                                    <button type="submit" class="btn btn-theme">submit</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="text" name="attachmentDescription" />

                                                        </div>

                                                        @*</form>*@
                                                    </div>
                                                }

                                                <!-- /form-panel -->
                                            </div>
                                            <!-- /col-lg-12 -->
                                        </div>
                                        <!-- row -->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                        @Html.ActionLink("Back to List", "Index")
                    </p>

                </div>
            </div>
        </section>
    </section>
    <script src="~/Scripts/bootstrap-fileupload.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/daterangepicker.js"></script>
    <script src="~/Scripts/date.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/daterangepicker.js"></script>
    <script src="~/Scripts/bootstrap-timepicker.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/advanced-form-components.js"></script>

</body>

</html>






