@model bugtracker.Models.Project
@using bugtracker.Helpers
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Details";
    var projhelper = new ProjectHelpers();
}

<section id="main-content">
    <section class="wrapper site-min-height">
        <h3><i class="fa fa-angle-right"></i>Project Details</h3>
        <div class="row mt">
            <div class="col-lg-12">

                <div>
                   
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>

                    </dl>
                </div>
                
                <div class="content-panel">
                    <table class="table table-striped table-advance table-hover mytable jq-data" >
                        <h4><i class="fa fa-angle-right"></i>Tickets assigned to this project</h4>
                        <hr>
                        <thead>
                            <tr>
                                <th clasas="hidden-phone">Title</th>
                                <th class="hidden-phone">Developer</th>
                                <th class="hidden-phone">Submitter</th>

                                <th class="hidden-phone">Description</th>
                                <th class="hidden-phone">Project</th>
                                <th class="hidden-phone">Created</th>
                                <th class="hidden-phone">Ticket Type</th>
                                <th class="hidden-phone">Ticket Priority</th>
                                <th class="hidden-phone">Ticket Status</th>

                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ticket in Model.Tickets.OrderBy(t => t.Created))
                            {
                            <tr>
                                <td>
                                    <a>@ticket.Title</a>
                                </td>
                                <td class="hidden-phone">
                                    @if (ticket.AssignedToUserId != null)
                                    {
                                        @ticket.AssignedToUser.FirstName
                                    }
                                    else
                                    {
                                        <span>Unassigned</span>
                                    }
                                </td>
                                <td class="hidden-phone">@ticket.OwnerUser.FirstName</td>

                                <td class="hidden-phone">@ticket.Description</td>
                                <td class="hidden-phone">@ticket.Project.Name</td>
                                <td class="hidden-phone">@ticket.Created</td>
                                <td class="hidden-phone">@ticket.TicketType.Name</td>
                                <td class="hidden-phone">@ticket.TicketPriority.Name</td>
                                <td><span class="label label-info label-mini">@ticket.TicketStatus.Name</span></td>


                                <td>
                                    @if (User.IsInRole("Admin") || User.IsInRole("PM") || ticket.OwnerUserId == HttpContext.Current.User.Identity.GetUserId() || ticket.AssignedToUserId == HttpContext.Current.User.Identity.GetUserId())
                                    {
                                        <a href="@Url.Action("Edit", new { id = Model.Id})" class="btn btn-success btn-xs"><i class="fa fa-check"></i></a>
                                        <a href="@Url.Action("Details", new { id = Model.Id})" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>

                                    }
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <a href="@Url.Action("Delete", new { id = Model.Id})" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></a>

                                    }
                                </td>


                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <p>
                    @if (User.IsInRole("Sub") && projhelper.IsUserOnProject(HttpContext.Current.User.Identity.GetUserId(), Model.Id))
                    {
                        @Html.ActionLink("Create New Ticket", "Create", "Tickets", new { Id = Model.Id }, null) 
                    }
                    |
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>

            </div>
        </div>
    </section>
    <!-- /wrapper -->
</section>
