@model bugtracker.Models.ApplicationUser
@using bugtracker.Helpers
@using Microsoft.AspNet.Identity
@using bugtracker.Models
@{
    ViewBag.Title = "Edit";
    ViewBag.Title = "Manage";
    var projhelper = new ProjectHelpers();
    var rolehelper = new UserRolesHelpers();
    var currentuserId = HttpContext.Current.User.Identity.GetUserId();
    ApplicationDbContext db = new ApplicationDbContext();
    var user = db.Users.Find(currentuserId);
}

<!--main content start-->
<section id="main-content">
    <section class="wrapper site-min-height">
        <div class="row mt">
            <div class="col-lg-12">
                <div class="row content-panel">
                    <div class="col-md-4 profile-text mt mb centered">
                        <p><img src="@user.AvatarPath" class="avatar img img-circle"></p>
                        <h3>@user.FirstName</h3>
                        <h6>
                            <i class="fa fa-briefcase"></i><span>Role:</span>
                            @if(User.IsInRole("Admin")||User.IsInRole("PM")|| User.IsInRole("Sub")|| User.IsInRole("Devs"))
                            {
                                rolehelper.ListUserRoles(currentuserId).FirstOrDefault().ToString();

                            }
                        </h6>
                            <br>
                        </div>
                    <!-- /col-md-4 -->
                    <div class="col-md-4 profile-text">
                        
                       
                       
                    </div>
                    <!-- /col-md-4 -->
                    <div class="col-md-4 centered">
                        <div>
                           
                          
                        </div>
                    </div>
                    <!-- /col-md-4 -->
                </div>
                <!-- /row -->
            </div>
            <!-- /col-lg-12 -->
            <div class="col-lg-12 mt">
                <div class="row content-panel">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active">
                                <a data-toggle="tab" href="#overview">Overview</a>
                            </li>
                           
                            <li>
                                <a data-toggle="tab" href="#edit">Edit Profile</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /panel-heading -->
                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="overview" class="tab-pane active">
                                <div class="row">
                                    <div class="col-md-6">
                                        
                                        <div class="detailed mt">
                                            <h4>Assigned</h4>
                                            <div class="recent-activity">
                                                <div class="activity-icon bg-theme"><i class="fa fa-check"></i></div>
                                                <div class="activity-panel">
                                                    <h5>Tickets Assigned</h5>
                                                    <p>Number of tickets: @db.Tickets.Where(t => t.AssignedToUserId == currentuserId).Count()</p>
                                                </div>
                                                <div class="activity-icon bg-theme02"><i class="fa fa-trophy"></i></div>
                                                <div class="activity-panel">
                                                    <h5>Projects</h5>
                                                    <p>Number of Projects: @projhelper.ListUserProjects(currentuserId).Count()</p>
                                                </div>
                                               
                                            </div>
                                            <!-- /recent-activity -->
                                        </div>
                                        <!-- /detailed -->
                                    </div>
                                    <!-- /col-md-6 -->
                                    <div class="col-md-6 detailed">
                                        <h4>Ticket Statuses</h4>
                                        <div class="row centered mt mb">
                                            <div class="col-sm-4">
                                                <h1><i class="fa fa-money"></i></h1>
                                                <h3>On-Hold</h3>
                                                <h2>
                                                    @db.Tickets.Where(t => t.TicketStatus.Name == "On-Hold").Count()
                                                   
                                                </h2>
                                            </div>
                                            <div class="col-sm-4">
                                                <h1><i class="fa fa-trophy"></i></h1>
                                                <h3>Open</h3>
                                                <h2>@db.Tickets.Where(t => t.TicketStatus.Name == "Open").Count()</h2>
                                            </div>
                                            <div class="col-sm-4">
                                                <h1><i class="fa fa-window-close"></i></h1>
                                                <h3>Closed</h3>
                                                <h2>@db.Tickets.Where(t => t.TicketStatus.Name == "Closed").Count()</h2>
                                            </div>
                                        </div>

                                       
                                    </div>
                                    <!-- /col-md-6 -->
                                </div>
                                <!-- /OVERVIEW -->
                            </div>
                           
                            <!-- /Edit Tab -->
                            <div id="edit" class="tab-pane">
                                <div class="row">
                                    <div class="col-lg-8 col-lg-offset-2 detailed">
                                        <h4 class="mb">Personal Information</h4>

                                        <div class="form-group">

                                            @using (Html.BeginForm("ChangeAvatar", "Home", FormMethod.Post, new { enctype = "Multipart/form-data" }))
                                            {
                                                @Html.AntiForgeryToken()

                                                <div class="form-group">

                                                    <input name="image" type="file" class="form-control-file" id="fileUpload" />
                                                    <br />

                                                    <button type="submit" class="btn btn-success">submit</button>


                                                </div>

                                            }

                                        </div>
                                        @using (Html.BeginForm("ChangeName", "Manage", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()

                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            @Html.HiddenFor(model => model.Id)
                                            <div class="form-group">
                                                @Html.Label("firstName", "First Name",htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.Editor("firstName", new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <div class="form-group">
                                                @Html.Label("lastName", "Last Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.Editor("lastName", new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                            <br />
                                            <br />
                                            <div class="row">

                                                <div class="form-group">
                                                    <div class="col-md-offset-2 col-md-10">
                                                        <input type="submit" value="Save" class="btn btn-primary" />
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        <div class="right-divider hidden-sm hidden-xs">
                                            <dl class="dl-horizontal">
                                                <dt>Password:</dt>
                                                [
                                                @Html.ActionLink("Change Password", "ChangePassword", "Manage")
                                                ]
                                            </dl>

                                        </div>
                                    </div>
                                    </div>
                                    <!-- /col-lg-8 -->
                                </div>
                                <!-- /row -->
                            </div>
                            <!-- /tab-pane -->
                        </div>
                        <!-- /tab-content -->
                    </div>
                    <!-- /panel-body -->
                </div>
                <!-- /col-lg-12 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>

</section>