@{
    Layout = null;
}
@model bugtracker.Models.RegisterViewModel
@using bugtracker.Helpers


<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>CoreTracker</title>
    <!-- Favicons -->

    <link href="~/img/core icon.jpg" rel="icon" />


    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!--external css-->
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Content/style.css" rel="stylesheet" />

    <link href="~/Content/style-responsive.css" rel="stylesheet" />

    <!-- =======================================================
      Template Name: Dashio
      Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
      Author: TemplateMag.com
      License: https://templatemag.com/license/
    ======================================================= -->
</head>
<body class="bg-dark">
    <div class="container">
       
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-login", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h2 class="form-login-heading">Create an Account</h2>
                <div class="login-wrap">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="text" Name="FirstName" id="firstName" class="form-control" placeholder="First name" required="required" autofocus="autofocus">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input type="text" Name="LastName" id="lastName" class="form-control" placeholder="Last name" required="required">

                                </div>
                            </div>
                        </div>

                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "form-control" })

                    </div>
                    <br />
                    <div class="form-group">
                        @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control" })
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password", @class = "form-control" })
                    </div>


                    <span class="pull-right">
                        <div class="text-center">
                            @Html.ActionLink("Login Page", "CustomLogin", "Account", null)
                            <br />
                            @Html.ActionLink("Forgot Password", "CustomForgotPassword", "Account", null)
                        </div>
                    </span>
                    <br />
                    <button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i> Register</button>



                </div>
                }

               
    </div>
 

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>
